* {
  box-sizing: border-box !important;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  overflow: hidden;
}

.row {
  display: block;
}

.col {
  background: white;
  border-radius: 8px;
  display: block;
  margin: 16px;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(153,153,153,.4);
  -moz-box-shadow: 0px 0px 36px 0px rgba(153,153,153,.4);
  box-shadow: 0px 0px 36px 0px rgba(153,153,153,.4);
  display: block;
}

@media screen and (min-width: 719px) {
  .row {
    display: flex;
  }
  .col {
    display: inline-block;
  }
  .col.zeventig {
    width: 70%;
  }

  .col.dertig {
    width: 30%;
  }

}

#app {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1184px;
  /* padding: 8px 24px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  /* max-height: 40vh !important;
  height: 40vh !important; */
}

.patient {
  color: #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.patient img {
  width: 200px;
}
